In [9]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

import sqlite3
from sqlalchemy import create_engine

In [3]:
DIR = "./data/data_to_import/"
FILE = "data.csv"

file = '{}{}'.format(DIR, FILE)
print('File directory: {}'.format(file))

File directory: ./data/data_to_import/data.csv

In [6]:
# Test import data
df = pd.read_csv(file, nrows=2)
df.head()

         date description  amount
0  23/01/2020      amazon   41.25
1  25/01/2020      bakery    6.89

In [13]:
# Connecting to the database
finpy_database = create_engine('sqlite:///finpy_database.db')
# Adding data to database
df = pd.read_csv(file)
df.to_sql('data', finpy_database, if_exists='append')

In [14]:
# Test reading from database
df = pd.read_sql_query('SELECT * FROM data', finpy_database)
df.tail()

   index        date  description  amount
1      1  25/01/2020       bakery    6.89
2      2  26/01/2020        tesco    8.00
3      3  27/01/2020        tesco   12.00
4      4  27/01/2020       github    5.99
5      5  27/01/2020  web hosting   50.00