In [38]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

import sqlite3
from sqlalchemy import create_engine

import os

## Data Cleaning

## CSV Import

In [39]:
IMPORT_DIR = "./data/data_to_import/"
EXPORT_DIR = "./data/data_imported/"

FILE_LISTS = os.listdir(IMPORT_DIR)
FILE_LISTS = [filename for filename in file_lists if filename.endswith(".csv")]

In [40]:
# Connecting to the database
finpy_database = create_engine('sqlite:///finpy_database.db')

# Adding data to database
for filename in FILE_LISTS:
    df = pd.read_csv('{}{}'.format(IMPORT_DIR, filename))
    df.to_sql('data', finpy_database, if_exists='append')

    # Move the data.csv file to the data_imported dir
    os.replace(file, '{}{}'.format(EXPORT_DIR, filename))

In [42]:
# Test reading from database
df = pd.read_sql_query('SELECT * FROM data', finpy_database)
df.head()

   index        date description  amount
0      0  23/01/2020      amazon   41.25
1      1  25/01/2020      bakery    6.89
2      2  26/01/2020       tesco    8.00
3      3  27/01/2020       tesco   12.00
4      4  27/01/2020      github    5.99