# Data Export & SQL Workbook

## Imports

In [7]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import os
import sqlite3
from sqlalchemy import create_engine

## Connecting to the Database

In [10]:
# Set up database connection
finpy_database = create_engine('sqlite:///finpy_database.db')

## SQL Examples

In [11]:
df = pd.read_sql_query('SELECT * FROM data', finpy_database)
df.head()

   index        date description  amount
0      0  23/01/2020    t1amazon   41.25
1      1  25/01/2020    t1bakery    6.89
2      2  26/01/2020     t1tesco    8.00
3      3  27/01/2020     t1tesco   12.00
4      0  26/01/2020    t2github    5.99