# Data Export & SQL Workbook

## Imports

In [7]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import os
import sqlite3
from sqlalchemy import create_engine

## Connecting to the Database

In [10]:
# Set up database connection
finpy_database = create_engine('sqlite:///finpy_database.db')

## SQL Examples

In [37]:
# Importing all data from database, showing just the top 5 of the dataframe to make sure its imported correctly.
df = pd.read_sql_query('SELECT * FROM data;', finpy_database)
del df['index']
df.head()

         date description  amount
0  23/01/2020    t1amazon   41.25
1  25/01/2020    t1bakery    6.89
2  26/01/2020     t1tesco    8.00
3  27/01/2020     t1tesco   12.00
4  26/01/2020    t2github    5.99

In [34]:
# Importing data where the transaction amount is over 10.00. (Change the amount below).
target_amount = 10
df = pd.read_sql_query('SELECT * FROM data WHERE amount > ' + str(target_amount) + ';', finpy_database)
del df['index']
df.head()

         date    description  amount
0  23/01/2020       t1amazon   41.25
1  27/01/2020        t1tesco   12.00
2  27/01/2020  t2web hosting   50.00

In [33]:
# Importing data with description, specific or like.
target_description = '%tesco%'
df = pd.read_sql_query('SELECT * FROM data WHERE description like "' + target_description + '";', finpy_database)
del df['index']
df.head()

         date description  amount
0  26/01/2020     t1tesco     8.0
1  27/01/2020     t1tesco    12.0

In [38]:
# Import data with amounts summed on description
df = pd.read_sql_query('SELECT date, description, SUM(amount) AS amount FROM data GROUP BY description;', finpy_database)
df.head()

         date    description  amount
0  23/01/2020       t1amazon   41.25
1  25/01/2020       t1bakery    6.89
2  26/01/2020        t1tesco   20.00
3  26/01/2020       t2github    5.99
4  27/01/2020  t2web hosting   50.00

In [44]:
# Import data is summed amount is over 25.
target_amount = 25
df = pd.read_sql_query('''
SELECT date, description, SUM(amount) AS amount 
FROM data 
WHERE amount > ''' + str(target_amount) + 
''' GROUP BY description ;''', finpy_database)
df.head()

         date    description  amount
0  23/01/2020       t1amazon   41.25
1  27/01/2020  t2web hosting   50.00

In [50]:
# Import data grouped on dates.
df = pd.read_sql_query('SELECT * FROM data GROUP BY date;', finpy_database)
df['description'] = df['date'] + ' total'
del df['index']
df.head()

         date       description  amount
0  23/01/2020  23/01/2020 total   41.25
1  25/01/2020  25/01/2020 total    6.89
2  26/01/2020  26/01/2020 total    8.00
3  27/01/2020  27/01/2020 total   12.00

In [56]:
# Import data based on list of descriptions
target_list = "'t1tesco', 't2github'"
df = pd.read_sql_query('SELECT * FROM data WHERE description IN ('+ target_list +');', finpy_database)
del df['index']
df.head()

         date description  amount
0  26/01/2020     t1tesco    8.00
1  27/01/2020     t1tesco   12.00
2  26/01/2020    t2github    5.99